<main>
  <img src="assets/BlockUI.svg" width="150" alt="">

  <block-file-input (filesSelected)="setFileName($event)" [multiple]="true" [accept]="['image/png','image/jpeg','image/svg+xml']"></block-file-input>
  <p>Filename: {{ fileName }}</p>

  <br><hr><br>

  <block-modal [openState]="modalOpenState">
    <block-modal-header [openState]="modalOpenState">Test Modal</block-modal-header>
    <block-modal-content>
      Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata

    </block-modal-content>
  </block-modal>
  <button (click)="openModal()">Open Modal</button>
  <br>

  <br><hr><br>

  <block-toggle (onToggle)="setSwitchState($event)">Test 1</block-toggle>
  <block-toggle (onToggle)="setSwitchState($event)">Test 2</block-toggle>
  <block-toggle (onToggle)="setSwitchState($event)">Test 3</block-toggle>
  <p>Switch State: {{ switchState }}</p>
  <br>

  <br><hr><br>

  <block-select value="Test Label" placeholder="Bitte auswählen" [multiple]="true" (optionsSelected)="getSelectedOptions($event)">
    <block-select-option label="Test Label" value="Test"></block-select-option>
    <block-select-option label="Test Label 2" value="Test 2"></block-select-option>
  </block-select>
  <p>Selected Options: {{ selectedOptions }}</p>

  <br><hr><br>

  <block-video videoUrl="assets/test.mp4" [controls]="true" [autoPlay]="true" [loop]="true"></block-video>
  <br>
  <video src="assets/test.mp4" width="500" controls></video>
</main>

<router-outlet />
